<div class="comments-div">
    <hr/>
    <ul id="comments" class="comments">
        {% for c in comments %}
        <li class="comment">
            <div class="clearfix">
                {% if c.comment_type == "comment" %}
                <h4 class="pull-left"><b>{{ c.visitor_name }}</b></h4>
                {% else %}
                <h4 class="pull-left"><b>{{ c.visitor_name }}</b> 回复 <b>{{ c.replied_name() }}</b></h4>
                {% endif %}

            </div>
            <p>
                {% if c.content_html %}
                <em>{{ c.content_html|safe }}</em>
                {% else %}
                <em>{{ c.content }}</em>
                {% endif %}
            </p>
            <div class="clearfix">
                <div class="pull-left"><span class="label label-success glyphicon glyphicon-time">{{ moment(c.timestamp).format('LL') }}</span>
                </div>
                <div class="pull-right">
                    <button class="btn btn-info btn-xs"
                            onclick="go_to_reply({{ c.id }}, '{{ c.visitor_name }}')">
                        <span class="glyphicon glyphicon-comment"></span> 回复
                    </button>
                </div>
            </div>
        </li>
        <hr>
        {% endfor %}
    </ul>
</div>