{% for post in posts%}
<article class="post">
    <div class="post-head">
        <h1 class="post-title"><a href="{{url_for('main.post_independent',id = post.id)}}">{{ post.title }}</a></h1>
        <div class="post-meta">
            <span class="author">作者：{{post.author.username}}</span>&bull;
            <time class="post-date">{{ moment(post.timestamp).format('LL') }}</time>
        </div>
    </div>
    <div class="featured-media"></div>
    <div class="post-content">
        <p>
            {% if post.body_html %}
            {{ post.body_html | safe | truncate(50,True)}}
            {% else %}
            {{ post.body | truncate(50,True) }}
            {% endif %}
        </p>
    </div>
    <div class="permalink">
        <a href="{{url_for('main.post_independent',id = post.id)}}" class="btn btn-default">阅读全文</a>
    </div>
    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <i class="fa fa-folder-open-o"></i>

        </div>
        <div class="pull-right share">
        </div>
    </footer>
</article>
{%endfor%}
