{% extends "newbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<title>小黄的博客-{{post.title}}</title>
{% endblock %}

{% block page_content %}
<article class="post">
    <div class="post-head">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-meta">
            <span class="author">作者：{{post.author.username}}</span>&bull;
            <time class="post-date">{{ moment(post.timestamp).format('LL') }}</time>
        </div>
    </div>
    <div class="featured-media"></div>
    <div class="post-content">
        <p>
            {% if post.body_html %}
            {{ post.body_html | safe }}
            {% else %}
            {{ post.body }}
            {% endif %}
        </p>
    </div>
    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <i class="fa fa-folder-open-o"></i>

        </div>
        <div class="pull-right share">
        </div>
    </footer>
    <hr>
    <ul class="pager">
        <li class="previous"><a href={{url_for(".index")}}>&larr; 回到文章列表</a></li>
    </ul>

    <div class="well">
        <h4>添加评论</h4>
        <form role="form" class="clearfix form" action="" method="post">
            {{ form.hidden_tag() }}
            <div class="col-md-6 form-group">
                {{ form.visitor_name(id="name",class="form-control",placeholder=form.visitor_name.label.text,required=True)}}
                {% for error in form.errors.visitor_name %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-6 form-group">
                {{form.visitor_email(class="form-control" ,id="email",placeholder=form.visitor_email.label.text,required=True)}}
                {% for error in form.errors.visitor_email %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12 form-group">
                {{ form.content(id="comment", class="input-markdown form-control",placeholder=form.content.label.text,required=True)
                }}
                {% for error in form.errors.content %}
                <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
            <div class="col-md-12 form-group text-right">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>

    {% include "_comment.html" %}
</article>

{% endblock %}