{% extends "newbase.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros_ajax.html" as macros %}

{% block head %}
{{super()}}
<title>小黄的博客-{{post.title}}</title>
{% endblock %}

{% block page_content %}
<article class="post">
    <div class="post-head">
        <h1 class="post-title">{{ post.title }}</h1>
        <div class="post-meta">
            <span class="author">作者：{{post.author.username}}</span>&bull;
            <time class="post-date">{{ moment(post.timestamp).format('LL') }}</time>
        </div>
    </div>
    <div class="featured-media"></div>
    <div class="post-content">
        <p>
            {% if post.body_html %}
            {{ post.body_html | safe }}
            {% else %}
            {{ post.body }}
            {% endif %}
        </p>
    </div>
    <footer class="post-footer clearfix">
        <div class="pull-left tag-list">
            <i class="fa fa-folder-open-o"></i>

        </div>
        <div class="pull-right share">
        </div>
    </footer>
    <hr>
    <ul class="pager">
        <li class="previous"><a href={{url_for(".index")}}>&larr; 回到文章列表</a></li>
    </ul>

    <div class="well">
        <h4 id="submit-comment"><span class="glyphicon glyphicon-comment"> 添加评论</h4>
        {% include "_comment_form.html" %}
    </div>

    {% include "_comment.html" %}
    {% if pagination %}
    <div class="pagination" style="float:right">
        {{ macros.pagination_widget(pagination,id=post.id)}}
    </div>
    {%endif%}

</article>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/comment_reply.js') }}"></script>
{% endblock %}